<div class="contenedor">
  <div class="recuperar">
    <h1 class="text-center">Recuperar Contraseña</h1>

    <form [formGroup]="formReset" (ngSubmit)="recuperar()">
      <!-- Email -->
      <div class="form-group">
        <label class="form-label">Email</label>
        <input class="form-control" formControlName="email" type="email" [ngClass]="(formReset.controls['email'].errors && formReset.controls['email'].touched) ? 'is-invalid' : ''">
        <!-- Error validation email -->
        <div class="validation" *ngIf="formReset.controls['email'].hasError('email') && !formReset.controls['email'].hasError('required') || formReset.controls['email'].hasError('pattern')">
          Por favor, introduce una dirección de correo electrónico válida.
        </div>

        <div class="validation" *ngIf="formReset.controls['email'].hasError('required') && formReset.controls['email'].touched">
          <span>El email es <strong>requerido</strong>.</span>
        </div>
      </div>
      <!-- Finish email -->

      <div class="boton d-grid gap-2">
        <button type="submit" class="btn" [disabled]="!formReset.valid">Iniciar sesión</button>
      </div>
    </form>
    <div class="footer-text text-center">¿Ya recuerdas tu contraseña? <a routerLink="/login">Inicia sesión</a></div>
  </div>
</div>
